altgraph==0.17.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.1.1
colorama==0.4.5
contextlib2==21.6.0
decorator==4.4.2
ez-setup==0.9
future==0.18.2
idna==3.3
imageio==2.21.3
imageio-ffmpeg==0.4.7
moviepy==1.0.3
mutagen==1.45.1
numpy==1.23.3
packaging==21.3
pefile==2022.5.30
Pillow==9.2.0
proglog==0.1.10
pydantic==1.10.2
pygame==2.1.2
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pyparsing==3.0.9
python-dotenv==0.21.0
pywin32-ctypes==0.2.0
replicate==0.0.1a16
requests==2.28.1
soupsieve==2.3.2.post1
tqdm==4.64.1
typing_extensions==4.3.0
urllib3==1.26.12
Wave==0.0.2
